// 웹폰트 로딩
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap');

// 웹폰트 적용
@mixin font-nanumgothic-coding {
  font-family: 'Nanum Gothic Coding', monospace;
}
.font-nanumgothic-coding {
  @include font-nanumgothic-coding();
}

// Default documnet style
html,
body {
  @include font-nanumgothic-coding();
  background-color: $color-bg;
  color: #fff;
}

// .page-enter-active, .page-leave-active {
.page-enter-active {
  transition: opacity 1s
}
.page-enter, .page-leave-active {
  opacity: 0
}