///////////////
// Variables //
///////////////
// Color
$color-primary: #e5eec1;
$color-secondary: #3eaca8;
$color-bg: #1A1A1A;
$color-point-1: #547a82;
$color-point-2: #a2d4ab;
$color-point-3: #daf7a6;