///////////////
// index.vue //
///////////////
#index {

  .section-title {
    position: relative;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;

    &::before {
      display: block;
      content: "";
      width: 30px;
      height: 30px;
      position: absolute;
      top: -5px;
      left: -5px;
      background-color: $color-primary;
      opacity: .4;
    }
  }

  .text-highlight {
    background-color: rgba($color-secondary, .5);
    padding: 1px 3px;
  }

  .text-fadeup {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.3s ease, transform 1.3s ease;

    &.show {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .section-box {
    padding: 75px 0;
    position: relative;
  }

  .section-1 {
    padding-top: 150px;

    .content {
      position: relative;
      z-index: 1;
      
      .introduction {
        font-weight: 800;
        font-size: 50px;

        .intro-hello {
          font-size: 70px;

          .smile {
            color: $color-point-3;
          }
        }

        .intro-name {
          position: relative;

          &::before {
            display: block;
            content: "";
            position: absolute;
            top: 20px;
            left: 0;
            width: 100%;
            height: 30px;
            background-color: $color-primary;
            opacity: .35;
          }
        }
      }
  
      .description {
        margin-top: 50px;
        font-weight: 400;
        font-size: 24px;
      }
    }


    .roundsquare-wrapper-1 {
      position: absolute;
      top: 40%;
      left: 60%;
      z-index: 0;
    }
    .roundsquare-wrapper-2 {
      position: absolute;
      top: 80%;
      left: 30%;
      z-index: 0;
    }
  }

  .section-hashtag {
    .tag-list {
      > ul {
        > li {
          margin-right: 20px;
        }
      }
    }
  }

  .section-2 {
    position: relative;
    z-index: 0;

    .roundsquare-wrapper-1 {
      position: absolute;
      right: 20%;
      top: 0;
      z-index: -1;
    }
    .roundsquare-wrapper-2 {
      position: absolute;
      left: -20px;
      top: 50%;
      z-index: -1;
    }
  }

  .section-3 {
    position: relative;
    z-index: 0;

    .links-list {
      > li {
        .icon-box {
          background-color: #fff;
          border-radius: 20px;
          padding: 15px;
          max-width: 100px;
          margin-left: auto;
          margin-right: auto;
          transition: transform .2s ease;

          &:hover {
            transform: scale(1.1);
          }

          > a {
            text-decoration: none;

            > img {
              width: 100%;
              height: auto;
            }
          }
          
        }
      }
    }

    .roundsquare-wrapper-1 {
      position: absolute;
      right: 35%;
      bottom: 0;
      z-index: -1;
    }
  }

  .section-4 {
    .text-awskrug {
      > a {
        color: #fff;
        text-decoration: none;
        font-weight: 600;
      }
    }

    .presentation-box {
      .pb__title {
        font-size: 18px;
        margin-bottom: 10px;
      }

      .pb__pic {
        > img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  
  .section-5 {
    
  }
}